/* Cabecera */
.fa-whatsapp {
    color: green !important;
}

.fa-clock {
    color: gray !important;
}

#header .header-nav.header-nav-line nav > ul:not(:hover) li > a.active::before {
    background: #5ebdb3;

 }

a:hover.dropdown-item::before {
    background: #5ebdb3 !important;
}

/* .linklenguage {
    
} */

.mb-2.font-weight-bold {
    text-align: center;
    margin-top: 15px;
}

/* .linklenguage {
    justify-self: end;
} */

/* @media (max-width: 575px) {
    .linklenguage {
        justify-self: end;
    }
} */

#header .header-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	/* -webkit-box-flex: 1;
	-ms-flex-positive: 1; */
	flex-grow: 1;
	/* -webkit-box-align: center;
	-ms-flex-align: center;*/
	align-items: center;
	/* -ms-flex-item-align: stretch;  */
	/* align-self: stretch; */
    /* max-height: 100%; */
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.content-video {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: -99;
}

.videoopening {
    display: flex;
    
    justify-content: center;
    align-content: center;
    height: 100%;
    
}

video {
    height: 100%;
    width: 100%;
} 

.btn.btn-primary.btn-modern:hover {
    background: #5ebdb3;
    border-color: #5ebdb3;
}