/* Cabecera */
.fa-whatsapp {
    color: green !important;
}

.fa-clock {
    color: gray !important;
}

#header .header-nav.header-nav-line nav > ul:not(:hover) li > a.active::before {
    background: #5ebdb3;

 }

a:hover.dropdown-item::before {
    background: #5ebdb3 !important;
}

.mb-2.font-weight-bold {
    text-align: center;
    margin-top: 15px;
}

/* .linklenguage {
    justify-self: end;
} */

/* @media (max-width: 575px) {
    .linklenguage {
        justify-self: end;
    }
} */

#header .header-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-grow: 1;
	align-items: center;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.content-video {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: -99;
}

.videoopening {
    display: flex;
    
    justify-content: center;
    align-content: center;
    height: 100%;
    
}

video {
    height: 100%;
    width: 100%;
} 

.btn.btn-primary.btn-modern:hover {
    background: #5ebdb3;
    border-color: #5ebdb3;
}


.border-shadow {
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2) !important;
 }

.somos{ 
    display: none;
}

@media screen and (max-width: 991px) {
    .hitem {
        display: none;
    }

    .somos {
        display: block;
        text-align: center;
    }

    .somos img {
        
        width: 24%;
        padding: 10px;
        border-radius: 50%;
        border: 5px solid #383f48; 
        background: #FFF;
    }
}

@media screen and (max-width: 767px) {
    .somos {
        text-align: center;
    }
}

.color-bar {
    background-color: #f7f7f7;
}

.diagonal-primary-bar {
    position: relative;
    overflow: hidden;
}

.diagonal-bar {
    background: #a0388b;
    width: 70%;
    height: 60px;
    position: absolute;
    top: 0;
    left: -15px;
    z-index: 100;
}

.d-bar {
    background: #a0388b;
    position: absolute;
    height: 150px;
    z-index: 101;
    top: -50px;
    right: -15px;
    transform: rotate(35deg);
    box-shadow: 6px 0 10px 1px rgba(0, 0, 0, 0.1);
}