.title-service{
  padding: 10px;
  width: 100%;
  text-align: center;
	clear: both;
}
.container-services{
margin-top: 50px !important;
clear: both;
width: 80vw;
margin: 0 auto;
}
.services{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: -25px;
}
.service{
	margin: 10px;
  margin-top: 30px;
  width: 250px;
  height: 200px;
  background-color: gray;
	border-radius: 5px;
	transition: transform .5s;
}
.service:hover{
	transform: scale(1.2);
}
.image{
	background-color: #8ed086;
	width: 250px;
	height: 200px;
	border-radius: 5px;
}
.image img{
  width: 250px;
  height: 200px;
  position: absolute;
}
.text{
position: absolute;
overflow: hidden;
width: 250px;
height: 200px;
background-color: #212020;
opacity: 0;
transition: opacity 0.7s;
border-radius: 5px;
}
.text p{
	background-color: white;
	margin: 0 auto;
	margin-top: 70px;
	font-size: 20px;
  color: black;
  padding: 15px;
}
.service:hover .text{
	opacity: 0.8;
}
